<div class="pt-8 flex justify-center items-center">
  <%= image_tag 'home1.jpg', class: 'w-[1000px]' %>
</div>

<div data-controller="animate"></div>

<%= render 'invitation' %>
<%= render 'entourage' %>
<%= render 'details' %>
<%= render 'location' %>
