<div class="w-full flex justify-center items-center"> 
  <div class="flex flex-col justify-center items-center flip-book" data-controller="flipbook">
    <div class="hard bg-white">
      <div class="w-full h-full flex-col flex justify-center items-center relative">
        <%= image_tag "logo_black.png", class: "w-[40%]" %>
        <div class="font-logo text-[24px] tracking-[5px]">MIKO & ELLA</div>
        <div class="absolute right-[5px] top-[5px] font-main">
          <p>Click</p><p>here</p></div>
      </div>
      
    </div>
    <div>
      <%= image_tag "invitation/1.png", class: "w-[100%]" %>
    </div>
    <div>
      <%= image_tag "invitation/2.png", class: "w-[100%]" %>
    </div>
    <div>
      <%= image_tag "invitation/3.png", class: "w-[100%]" %>
    </div>
    <div>
      <%= image_tag "invitation/4.png", class: "w-[100%]" %>
    </div>
    <div>
      <%= image_tag "invitation/5.png", class: "w-[100%]" %>
    </div>
  </div>
</div>