<section id="our_story" class="flex flex-col p-3 lg:p-10 font-main">

  <div class="flex flex-row justify-between lg:justify-around items-center hidden lg:flex w-full">
    <div class="w-[48%]">
      <h1 class="font-main text-[36px] mb-4 font-bold ">
        Our Love Story
      </h1>
      <% p_classes = "px-2 py-3 text-xs lg:text-lg text-justify" %>
      <p class="<%= p_classes %>">Like many modern love stories, Miko and Ella's began with a swipe on a dating app. Their first conversation started with Ella saying, 'I know where your contact lenses came from.' She had noticed they both used lenses from EO and thought it was a 'sign'—not just of fate, but perhaps God's way of bringing them together.</p>

      <p class="<%= p_classes %>">Being in their late 20s and early 30s, neither of them was interested in wasting time. Two weeks after connecting on Bumble, they decided to meet for coffee. What they thought would be a quick date turned into hours of laughter, deep conversations, an impromptu karaoke night, and the realization that this was something truly special.</p>

      <p class="<%= p_classes %>">Over the last three years, God has been at the center of their relationship, guiding them through life's challenges and blessings. Together, they've experienced joy and growth—sharing long talks, embarking on spontaneous adventures, and building a partnership rooted in love, faith, and trust.</p>

      <p class="<%= p_classes %>">Through every high and low, they've leaned on each other and on God, whose hand has been evident in their journey. From exploring new places to cherishing quiet moments, they've created countless memories that have deepened their bond.</p>

      <p class="<%= p_classes %>">Today, surrounded by the people they love, Miko and Ella are ready to begin this new chapter in their lives, trusting in God's plan and continuing to build a life filled with love, grace, and purpose.</p>

      <p class="<%= p_classes %>">They may owe Bumble for the initial match, but everything else—faith, love, laughter, and lifelong partnership—was a gift from God and a result of the love they've nurtured together.</p>
    </div>
    <div class="overflow-hidden w-[40%] ">
      <%= image_tag "our_story/1.jpg", class: 'rounded-xl' %>
    </div>
  </div>

  <div class="flex-col justify-between items-center lg:hidden" data-controller="gallery">
      <h1 class="font-main text-[24px] mb-4 font-bold text-center">
        Our Love Story
      </h1>
      <% p_classes = "px-2 py-3 text-xs lg:text-lg text-justify" %>

      <div class="flex w-full items-center gap-2">
        <p class="<%= p_classes %> w-[50%]">Like many modern love stories, Miko and Ella's began with a swipe on a dating app. Their first conversation started with Ella saying, 'I know where your contact lenses came from.' She had noticed they both used lenses from EO and thought it was a 'sign'—not just of fate, but perhaps God's way of bringing them together.</p>
        <div class="w-[50%]">
          <a href="<%= image_path('our_story/1.jpg') %>" data-fancybox="gallery">
            <%= image_tag "our_story/1.jpg", class: "rounded-xl" %>
          </a>
        </div>
      </div>

      <div class="flex w-full items-center gap-2">
        <div class="w-[50%]">
          <a href="<%= image_path('our_story/2.jpg') %>" data-fancybox="gallery">
            <%= image_tag "our_story/2.jpg", class: "rounded-xl" %>
          </a>
        </div>
        <p class="<%= p_classes %> w-[50%]">Being in their late 20s and early 30s, neither of them was interested in wasting time. Two weeks after connecting on Bumble, they decided to meet for coffee. What they thought would be a quick date turned into hours of laughter, deep conversations, an impromptu karaoke night, and the realization that this was something truly special.</p>
      </div>

      <p class="<%= p_classes %>">Over the last three years, God has been at the center of their relationship, guiding them through life's challenges and blessings. Together, they've experienced joy and growth—sharing long talks, embarking on spontaneous adventures, and building a partnership rooted in love, faith, and trust.</p>

      <div class="w-full mt-2">
        <a href="<%= image_path('our_story/3.jpg') %>" data-fancybox="gallery">
          <%= image_tag "our_story/3.jpg", class: "rounded-xl" %>
        </a>
      </div>

      <p class="<%= p_classes %>">Through every high and low, they've leaned on each other and on God, whose hand has been evident in their journey. From exploring new places to cherishing quiet moments, they've created countless memories that have deepened their bond.</p>

      <p class="<%= p_classes %>">Today, surrounded by the people they love, Miko and Ella are ready to begin this new chapter in their lives, trusting in God's plan and continuing to build a life filled with love, grace, and purpose.</p>

      <p class="<%= p_classes %>">They may owe Bumble for the initial match, but everything else—faith, love, laughter, and lifelong partnership—was a gift from God and a result of the love they've nurtured together.</p>
  </div>

</section>
