<nav class="w-full flex justify-center gap-12 font-main text-[18px]">
  <% link_class = "hover:underline hover:decoration-3 hover:underline-offset-[15px] transition " %>
  <a href="/" class="<%= link_class %>">Home</a>
  <a href="/our_story" class="<%= link_class %>">Our Story</a>
  <a href="#photos" class="<%= link_class %>">Photos</a>
  <a href="/faqs" class="<%= link_class %>">FAQs</a>
  <a href="#map" class="<%= link_class %>">Map</a>
  <a href="#dress_code" class="<%= link_class %>">Dress Code</a>
  <a href="#registry" class="<%= link_class %>" >Registry</a>
  <a href="#rsvp" class="<%= link_class %>">RSVP</a>
</nav>